body { 
    font-family: 'Montserrat', sans-serif; 
    font-family: 'Poppins', sans-serif; 

} 
.label input { display: none; }
.upload { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 
 
.text-center { 
    margin-top: 150px; 
}
.ress {
    display: inline-block;
}
#dl {
    align-self: center;
}
.row {
    margin-top: 50px;
    }
.col-9 {
        margin-top: 3px;
        }